asgiref==3.9.1
bcrypt==4.3.0
cachetools==6.2.2
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cryptography==46.0.5
Django==5.2.5
django-cors-headers==4.9.0
django-extensions==4.1
django-filter==25.1
django-redis==6.0.0
django-silk==5.4.3
djangorestframework==3.16.1
dnspython==2.8.0
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
googleapis-common-protos==1.72.0
gprof2dot==2025.4.14
gunicorn==23.0.0
httplib2==0.31.0
idna==3.11
Markdown==3.8.2
memory-profiler==0.61.0
mongoengine==0.29.1
oauthlib==3.3.1
packaging==25.0
proto-plus==1.26.1
protobuf==6.33.2
psutil==7.2.1
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==3.0
PyJWT==2.10.1
pymongo==4.15.3
pyparsing==3.2.5
python-dotenv==1.1.1
pyuwsgimemhog==0.3.0
redis==6.4.0
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
sqlparse==0.5.3
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
whitenoise==6.11.0
